основная информация о датасете

In [4]:
#pip install pandas
import pandas as pd
import numpy as np
df=pd.read_csv('train.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Процент выживших

In [ ]:
df1=df.groupby("Pclass")["Survived"].sum()
df2=df['Pclass'].value_counts()
df3=df1/df2*100
print(df3.rename('Survive %').rename_axis('Class'))

Class
1    62.962963
2    47.282609
3    24.236253
Name: Survive %, dtype: float64

Префиксы

In [ ]:
Name=df.Name.str.extract('.+,\s(\w+\.).+',re.IGNORECASE,expand=False)
Name+=df['Sex']
Name.value_counts()

Name
Mr.male          517
Miss.female      182
Mrs.female       125
Master.male       40
Rev.male           6
Dr.male            6
Mlle.female        2
Major.male         2
Col.male           2
Dr.female          1
Capt.male          1
Ms.female          1
Sir.male           1
Lady.female        1
Mme.female         1
Don.male           1
Jonkheer.male      1
Name: count, dtype: int64

Самое популярное мужское имя

In [ ]:

Name=df.Name.str.extract('^.+?\w+\..+?\((.+?)\)|^.+?\w+\.\s([\w\s]+)',expand=False)
Name.fillna('',inplace=True)
Name.columns = ['A','B']
Name['CombinedName']=Name['A']+Name['B']
Name['Sex']=df['Sex']
Name['Class']=df['Pclass']
Name1 = Name[Name.Sex == 'male']
MaleName=Name1['CombinedName']

def pop_name (Name):
  menNames=[]
  for i in range(Name.count()-1):
    names=Name.iloc[i+1]
    words=names.split(' ')
    for word in words:
        if len(word)>2 and word.find('"'):
            menNames.append(word)

  MenNamesDataFrame=pd.DataFrame(data=menNames,columns=['Names'])
  MenNamesDataFrame['count']= 1
  MenNamesDataFrameGroupBy=MenNamesDataFrame.groupby('Names').sum()
  MenNamesDataFrameSorted=MenNamesDataFrameGroupBy.sort_values(['count'], ascending=[False])
  print(MenNamesDataFrameSorted.head(1))

pop_name(MaleName)

         count
Names
William     47

Самое популярное женское имя

In [ ]:
Name2 = Name[Name.Sex == 'female']
FemaleName=Name2['CombinedName']
pop_name(FemaleName)

       count
Names
Mary      18

Самое популярное мужское имя 1 класс

In [ ]:
Name11 = Name1[Name1.Class == 1]
MaleName=Name11['CombinedName']
pop_name(MaleName)

         count
Names
William     14

Самое популярное мужское имя 2 класс

In [ ]:
Name12 = Name1[Name1.Class == 2]
MaleName=Name12['CombinedName']
pop_name(MaleName)

         count
Names
William     13

Самое популярное мужское имя 3 класс

In [ ]:
Name13 = Name1[Name1.Class == 3]
MaleName=Name13['CombinedName']
pop_name(MaleName)

         count
Names
William     20

Самое популярное женское имя 1 класс

In [ ]:
Name21 = Name2[Name2.Class == 1]
FemaleName=Name21['CombinedName']
pop_name(FemaleName)

           count
Names
Elizabeth      7

Самое популярное женское имя 2 класс

In [ ]:
Name22 = Name2[Name2.Class == 2]
FemaleName=Name22['CombinedName']
pop_name(FemaleName)

       count
Names
Ada        5

Самое популярное женское имя 3 класс

In [ ]:
Name23 = Name2[Name2.Class == 3]
FemaleName=Name23['CombinedName']
pop_name(FemaleName)

       count
Names
Anna      11

Пассажиры старше 44

In [ ]:
df44more = df[df.Age > 44]
df44more

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

Мужчины младше 44

In [ ]:
df44less = df[df.Age < 44]
df44less = df44less[df44less.Sex == 'male']
df44less

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

n-местные кабины

In [ ]:
Cabin=df['Cabin']
Cabin=Cabin.dropna()
Cabin=Cabin.reset_index(drop=True)
Cabin
cabins=[]
for i in range(Cabin.count()-1):
  names=Cabin.loc[i+1]
  words=str(names).split(' ')
  for word in words:
        if len(word)>2 and word.find('"'):
           cabins.append(word)
cabinCounter=pd.DataFrame(data=cabins,columns=['Numbers'])
cabinCounterA=cabinCounter.value_counts()
print('Число n-местных кабин:',cabinCounterA.loc[cabinCounterA>1].size)

Число n-местных кабин: 49